/* You can add global styles to this file, and also import other style files */


/*material theme scss*/

@import 'theme/theme-material.scss';

/*ngx toastr css*/

@import '~ngx-toastr/toastr.css';

/*loading css*/

@import 'theme/loading-squre.scss';
@import 'theme/loading-circle.scss';

/*default scss*/

* {
    font-family: '微软雅黑', 'KaiTi';
    font-size: 15px;
}

body {
    background-color: rgb(245, 243, 243);
}

input,
select,
textarea,
table,
th,
td,
tr,
button {
    font-family: '微软雅黑', 'KaiTi';
}

td {
    vertical-align: middle !important;
}

td img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    background-color: transparent;
}

 ::-webkit-scrollbar-track,
 ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    border: 5px solid transparent;
}

 ::-webkit-scrollbar-track {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2) inset;
}

 ::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-clip: content-box;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, .2) inset;
}

 ::-webkit-scrollbar-corner {
    background: transparent;
}

a,
button,
input,
select,
{
    outline: 0 none !important;
    text-decoration: none !important;
}

div {
    outline: 0 none !important;
}

a:link {
    text-decoration: none;
}

a:active {
    text-decoration: none
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn {
    cursor: pointer;
}

.btn:disabled {
    cursor: not-allowed !important;
}

.pointer {
    cursor: pointer;
}

.breadcrumb {
    background-color: transparent !important;
}

.breadcrumb-item {
    float: none;
}

.breadcrumb-pad {
    position: fixed;
    z-index: 4;
    margin-top: -60px !important;
    margin-left: 50px !important;
}

.loading-dom {
    background-color: white;
}

.ui-select-choices {
    display: block !important;
}

.ui-select-match .btn-secondary {
    background-color: white !important;
    border: 1px solid rgba(0, 0, 0, .15) !important;
    color: black !important;
}